/*Global Root Styles*/
:root {
  /*Card Colors*/
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  --transparent-white: hsla(0, 0%, 100%, 0.75); /*Paragraphs*/
  --very-light-gray: hsl(0, 0%, 95%); /*Background, Headings Buttons*/

  --font-main-headings: "Big Shoulders Display", sans-serif;
  --font-main-paragraphs: "Lexend Deca', sans-serif";
}
/*Base Styles*/
* {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

body {
  display: grid;
  place-content: center;
  font: 1rem var(--font-main-paragraphs);
  line-height: 1.6;
}

main {
  padding: 4rem 0rem;
}

body,
button {
  background-color: var(--very-light-gray);
}

div {
  padding: 2rem;
  max-width: 300px;
  width: 300px;
  height: 100%;
}

div:nth-of-type(1) {
  background-color: var(--bright-orange);
}
div:nth-of-type(2) {
  background-color: var(--dark-cyan);
}
div:nth-of-type(3) {
  background-color: var(--very-dark-cyan);
}

h2 {
  color: var(--very-light-gray);
  font: 2.5rem var(--font-main-headings);
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin: 1.5rem 0;
}

svg {
  fill: white;
}

p {
  color: var(--transparent-white);
  font-size: 1.2rem;
  margin: 0rem 0rem 2.5rem;
}

a {
  color: var(--dark-cyan);
}

footer {
  text-align: center;
}

/*flexbox styles*/
.flex__container,
.flex__container--card {
  display: flex;
  flex-direction: column;
}

.flex__container {
  align-items: center;
}

.flex__container--card:first-of-type {
  border-radius: 10px 10px 0px 0px;
}

.flex__container--card:last-of-type {
  border-radius: 0px 0px 10px 10px;
}

/*Button color styles*/
.btn {
  display: inline-block;
  border-radius: 25px;
  background-color: var(--very-light-gray);
  font-size: 0.9rem;
  font-weight: 700;
  padding: 0.7rem 1.5rem;
  border: none;
  outline: none;
  width: 70%;
  text-decoration: none;
  text-align: center;
  border: 1.5px solid var(--very-light-gray);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  border: 1.5px solid var(--very-light-gray);
  color: var(--very-light-gray);
}

.btn--sedan {
  color: var(--bright-orange);
}

.btn--suv {
  color: var(--dark-cyan);
}

.btn--luxury {
  color: var(--very-dark-cyan);
}

/*Hide h1 but make it accessible for screen readers*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media only screen and (min-width: 768px) {
  main {
    max-width: 900px;
    max-height: 700px;
  }

  div {
    padding: 2rem 2.5rem 3.5rem 2.5rem;
  }

  p {
    margin-bottom: 5rem;
  }

  .flex__container {
    flex-direction: row;
  }

  .flex__container--card:first-of-type {
    border-radius: 10px 0px 0px 10px;
  }

  .flex__container--card:last-of-type {
    border-radius: 0px 10px 10px 0px;
  }

  .btn {
    font-size: 1rem;
    margin-top: auto;
  }
}
